<header>
  <div class="nav">
    <ul>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        >
      </li>
      <li>
        <a
          routerLink="cuentas"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Cuentas</a
        >
      </li>
      <li>
        <a
          routerLink="acercade"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Acerca de</a
        >
      </li>
      <li>
        <a
          routerLink="contacto"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Contacto</a
        >
      </li>
      <li>
        <a class="logout" (click)="logout()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</header>
